<comp-navbar></comp-navbar>
<div
  class="grid grid-cols-1 xl:grid-cols-2 pl-12 pr-12 xl:gap-24 xl:pr-48 xl:pl-48 xl:justify-between min-h-[calc(max(500px,_100vh))] bg-green-400"
>
  <div class="flex flex-col gap-4 mb-12 xl:pt-0 mt-32 xl:mt-48 pb-8">
    <h1 class="font-bold text-4xl pb-2 xl:text-7xl text-white">
      Sign Up And Start Trading With Fake Money
    </h1>
    <div class="pt-8 text-sm sm:text-xl text-white">
      <p>
        Voluptate consequat Lorem ad laboris ad nulla. Pariatur labore velit
        minim cillum cupidatat culpa sint velit proident voluptate. Non anim ex
        laborum culpa veniam do laborum aute sunt dolor. Labore ullamco ex
        proident laborum mollit sit ullamco ullamco quis amet aliquip do fugiat
        consequat. Anim ut eiusmod laboris in aliqua ea. Irure enim aliqua
        veniam qui laborum sunt Lorem. Non officia cillum occaecat excepteur
        consequat enim minim Lorem magna.
      </p>
    </div>
  </div>
</div>
