<comp-navbar class="dark"></comp-navbar>
<div class="flex pl-4 pr-4 justify-center min-h-[calc(max(500px,_100vh))]">
  <div class="flex flex-col gap-4 mb-12 xl:pt-0 mt-32 xl:mt-48 pl-8 pr-8 pb-8">
    <h1 class="font-bold text-4xl pb-2 max-w-[369px]">
      Start Trading With Fake Money
    </h1>
    <form
      [formGroup]="signUpForm"
      (ngSubmit)="onClickSubmit()"
      class="grid grid-cols-1 gap-4 mt-8 lg:mt-12"
    >
      <div>
        <label class="font-bold block">First Name</label>
        <input
          type="text"
          name="firstName"
          formControlName="firstName"
          class="w-full h-10 mt-1 text-zinc-900 pl-2 font-bold block max-w-[369px] focus:outline-none border-zinc-300 border-2 focus:border-zinc-600"
        />
      </div>
      <div>
        <label class="font-bold block">E-Mail</label>
        <input
          type="email"
          name="email"
          formControlName="email"
          class="w-full h-10 mt-1 text-zinc-900 pl-2 font-bold block max-w-[369px] focus:outline-none border-zinc-300 border-2 focus:border-zinc-600"
        />
      </div>
      <div>
        <label class="font-bold block">Password</label>
        <input
          type="password"
          name="password"
          formControlName="password"
          class="w-full h-10 mt-1 text-zinc-900 pl-2 font-bold block max-w-[369px] focus:outline-none border-zinc-300 border-2 focus:border-zinc-600"
        />
        <a
          [routerLink]="'/login'"
          class="font-bold border-b-4 block w-min whitespace-nowrap mt-2 border-black"
          >Already have an account?</a
        >
      </div>
      <button
        type="submit"
        value="submit"
        class="text-white p-2 pl-3 pr-3 mt-4 font-bold bg-black w-min"
      >
        Register
      </button>
    </form>
  </div>
</div>
