<a href="https://www.github.com/Arber99">
  <div
    class="cshadow p-6 pb-2 h-min text-white bg-orange-400 cursor-pointer"
  >
    <h3 class="text-xl font-bold">Explore my GitHub</h3>
    <p class="flex flex-col mt-6 mb-6">
      Visit my GitHub &lt;3
    </p>
    <div
      class="bg-white w-min w-10 h-10 flex justify-center items-center rounded-full mb-4"
    >
      <fa-icon
        [icon]="faArrowRight"
        class="text-orange-400 rounded-[100%]"
      ></fa-icon>
    </div>
  </div>
</a>
