<div class="mt-8 cshadow after:block after:pt-[100%] relative cursor-pointer">
  <img
    src="../../../assets/coin-stack.png"
    class="absolute z-0 pointer-events-none select-none"
  />
  <h3 class="text-xl font-bold absolute z-10 text-white p-6">Explore</h3>
  <div
    class="bg-white w-min w-10 h-10 z-10 flex justify-center items-center rounded-full mb-6 bottom-0 left-0 ml-6 absolute"
  >
    <fa-icon
      [icon]="faArrowRight"
      class="text-purple-900 rounded-[100%]"
    ></fa-icon>
  </div>
</div>
