<div class="flex flex-col gap-8 md:gap-0 md:flex-row justify-between max-w-[1200px] pl-8 pr-8 w-full ml-auto mr-auto mt-12 md:mt-20 mb-10">
  <div>
    <label class="font-bold text-lg">About</label>
    <ul class="mt-4">
      <li>
        <a>Contact Us</a>
      </li>
      <li>
        <a>Asked Questions</a>
      </li>
    </ul>
  </div>
  <div>
    <label class="font-bold text-lg">Legal</label>
    <ul class="mt-4">
      <li>
        <a>Terms</a>
      </li>
      <li>
        <a>Copyright Policy</a>
      </li>
      <li>
        <a>Privacy Policy</a>
      </li>
    </ul>
  </div>
  <div>
    <label class="font-bold text-lg">Other</label>
    <ul class="mt-4">
      <li>
        <a>Imprint</a>
      </li>
    </ul>
  </div>
  <div>
    <label class="font-bold text-lg">Accessibility</label>
    <ul class="mt-4">
      <li>
        <a>Accessibility</a>
      </li>
      <li>
        <a>Easy Language</a>
      </li>
    </ul>
  </div>
  <div>
    <label class="font-bold text-lg">Stockify</label>
    <ul class="mt-4">
      <li>
        <a>Learn</a>
      </li>
      <li>
        <a>My Account</a>
      </li>
    </ul>
  </div>
</div>
