<div
  class="flex pl-12 pr-4 lg:pl-16 lg:pr-16 absolute justify-between z-[10] border-zinc-400 h-[72px] w-full"
>
  <div class="flex items-center">
    <a [routerLink]="'/'">
      <h1 class="text-base font-bold text-2xl text-white dark:text-black">
        Stockify
      </h1>
    </a>
  </div>
  <ul
    class="relative flex flex-row text-sm space-x-12 items-center"
    *ngIf="currentWindowWidth > 1280; else menu"
  >
    <li>
      <a [routerLink]="'/accessibility'" class="text-white dark:text-zinc-800"
        ><fa-icon
          [icon]="faCircleInfo"
          aria-hidden="true"
          class="mr-2"
        ></fa-icon>
        Accessibility</a
      >
    </li>
    <li
      class="text-white dark:text-black font-bold before:content-[''] before:absolute before:w-[1px] before:h-6 before:bg-white dark:before:bg-zinc-800 before:-translate-x-6"
    >
      <a
        [ngClass]="accountLoaded ? '' : 'blur-sm'"
        href="https://github.com/Arber99"
        >GitHub</a
      >
    </li>
    <li class="text-white dark:text-black font-bold" *ngIf="!isAuthorized">
      <a [ngClass]="accountLoaded ? '' : 'blur-sm'" [routerLink]="'/login'"
        >Login</a
      >
    </li>
    <li class="text-white font-bold" *ngIf="!isAuthorized">
      <a
        [ngClass]="accountLoaded ? '' : 'blur-sm'"
        [routerLink]="'/signup'"
        class="bg-green-400 p-2 pl-3 pr-3"
        >Sign up</a
      >
    </li>
    <li class="text-white dark:text-black font-bold" *ngIf="isAuthorized">
      <span [ngClass]="accountLoaded ? '' : 'blur-sm'"
        >Hello,&nbsp;&nbsp;{{ name }}</span
      >
    </li>
    <li class="text-white font-bold" *ngIf="isAuthorized">
      <a
        [ngClass]="accountLoaded ? '' : 'blur-sm'"
        [routerLink]="'/dashboard'"
        class="text-white dark:text-black font-bold"
        >Dashboard</a
      >
    </li>
    <li class="text-white font-bold" *ngIf="isAuthorized">
      <a
        [ngClass]="accountLoaded ? '' : 'blur-sm'"
        [routerLink]="'/market'"
        class="text-white dark:text-black font-bold"
        >Market</a
      >
    </li>
    <li class="text-white font-bold" *ngIf="isAuthorized">
      <a
        [ngClass]="accountLoaded ? '' : 'blur-sm'"
        [routerLink]="'/'"
        (click)="logOut()"
        class="bg-red-400 p-2 pl-3 pr-3"
        >Log out</a
      >
    </li>
  </ul>
  <ng-template #menu>
    <button
      aria-label="Menü öffnen"
      [attr.aria-expanded]="isMenu"
      (click)="onMenu(isMenu)"
    >
      <fa-icon [icon]="faBars" class="p-6 text-white dark:text-black"></fa-icon>
    </button>
  </ng-template>
</div>
<ul
  class="flex flex-col xl:hidden items-end overflow-y-auto gap-3 pt-4 pb-6 pl-8 pr-8 lg:pl-16 lg:pr-16 fixed top-0 z-[100] {{
    background
  }} border-b border-white dark:border-zinc-400 mt-[72px] max-h-[50vh] w-full font-semibold text-black"
  *ngIf="isMenu"
>
  <li *ngIf="!isAuthorized">
    <button [routerLink]="'/login'" class="text-white dark:text-zinc-800">
      <span class="font-bold">Log In</span>
    </button>
  </li>
  <li *ngIf="!isAuthorized">
    <button [routerLink]="'/signup'" class="text-white dark:text-zinc-800">
      <span class="font-bold">Sign Up</span>
    </button>
  </li>
  <li class="text-white font-bold" *ngIf="isAuthorized">
    <a [routerLink]="'/dashboard'" class="text-white dark:text-zinc-800"
      >Dashboard</a
    >
  </li>
  <li class="text-white font-bold" *ngIf="isAuthorized">
    <a [routerLink]="'/market'" class="text-white dark:text-zinc-800">Market</a>
  </li>
  <li class="text-white dark:text-zinc-800">About</li>
  <li class="text-right">
    <a href="#" class="text-white dark:text-zinc-800" (click)="onMenu(false)"
      ><fa-icon [icon]="faCircleInfo" aria-hidden="true" class="mr-2"></fa-icon>
      Accessibility</a
    >
  </li>
  <li *ngIf="isAuthorized">
    <a [routerLink]="'/'" (click)="logOut()" class="text-red-500 font-bold"
      >Log out</a
    >
  </li>
</ul>
