<comp-navbar class="dark"></comp-navbar>
<div
  class="flex pl-4 pr-4 justify-center min-h-[calc(max(500px,_100vh))]"
>
  <div class="flex flex-col gap-4 mb-12 xl:pt-0 mt-12 xl:mt-30 pl-8 pr-8 pb-8">
    <h1 class="font-bold text-4xl pb-2 max-w-[369px]">Log in to your account</h1>
    <form
      [formGroup]="logInForm"
      (ngSubmit)="onClickSubmit()"
      class="grid grid-cols-1 gap-4 mt-8 lg:mt-12"
    >
      <div>
        <label class="font-bold block">E-Mail</label>
        <input
          type="email"
          name="email"
          formControlName="email"
          class="w-full h-10 mt-1 text-zinc-900 pl-2 font-bold block max-w-[369px] focus:outline-none border-2 border-zinc-300 focus:border-zinc-600"
        />
      </div>
      <div>
        <label class="font-bold block">Password</label>
        <input
          type="password"
          name="password"
          formControlName="password"
          autocomplete="on"
          class="w-full h-10 mt-1 text-zinc-900 pl-2 font-bold block max-w-[369px] focus:outline-none border-2 border-zinc-300 focus:border-zinc-600"
        />
        <a
          [routerLink]="'/forgot-password'"
          class="font-bold border-b-4 block w-min whitespace-nowrap mt-2 border-black"
          >Forgot your password?</a
        >
      </div>
      <div class="flex flex-row gap-4 items-center align-middle">
        <button
          type="submit"
          value="submit"
          class="text-white p-2 pl-3 pr-3 mt-4 font-bold bg-gray-900 w-min"
          [ngClass]="loginLoaded ? '' : 'opacity-50'"
          [disabled]="!loginLoaded"
        >
          Login
        </button>
        <div class="mt-4">
          <mat-progress-spinner
            mode="indeterminate"
            color="accent"
            [diameter]="35"
            *ngIf="!loginLoaded"
          ></mat-progress-spinner>
        </div>
      </div>
      <span class="text-red-800" *ngIf="loginFailed">Login failed, please try again</span>
    </form>
  </div>
</div>
