<div
  class="bg-indigo-400 p-12 lg:pr-48 lg:pl-48 text-white"
>
  <h2 class="font-bold text-4xl lg:text-7xl">1. What is a stock?</h2>
  <p class="pt-8">
    A stock is a <b>piece of a company</b>. If you own a stock, then you <b>own</b> a piece of that company. The more stocks you buy, the larger the <b>percentage</b> is your ownage of that company.
  </p>
  <p class="pt-8">
    <b>Example:</b> Let's say for a company called "<b>XYZ</b>" there exist a total of 100 stocks. If you own 7 stocks, then you own a total of <b>7%</b> of company XYZ.
  </p>
</div>
