<div
  class="bg-indigo-400 p-12 text-white"
  *ngIf="id === '1'"
>
  <div>
    <h2 class="font-bold text-xl">1. What is a stock?</h2>
    <p class="pt-8">
      A stock is a <b>piece of a company</b>. If you own a stock, then you
      <b>own</b> a piece of that company. The more stocks you buy, the larger
      the <b>percentage</b> is your ownage of that company.
    </p>
    <p class="pt-8">
      <b>Example:</b> Let's say for a company called "<b>XYZ</b>" there exist a
      total of 100 stocks. If you own 7 stocks, then you own a total of
      <b>7%</b> of company XYZ.
    </p>
    <p class="pt-8">
      Let's visualize this with <b>money</b>. Take the example above and assume
      that each stock is worth <b>$50</b>. How much would be your total net
      worth of the 7 shares you own?
    </p>
    <p class="pt-8 font-bold text-4xl">$350.</p>
    <p class="pt-8">
      I don't think that I need to explain the math here. However, I've designed
      a pie chart that you can play with. Just enter the number of stocks, and
      you will see the <b>total percentage</b> of company XYZ you own as well as
      the <b>total worth</b> of your stocks.
    </p>
    <hr class="w-full h-1 bg-white mt-16 block md:hidden" />
  </div>
</div>
<div
  class="bg-indigo-400 p-12 text-white"
  *ngIf="id === '2'"
>
  <div></div>
  <div>
    <h2 class="font-bold text-xl">2. Market Capitalization</h2>
    <p class="pt-8">
      Let's say the shares of <b>Microsoft</b> are trading at <b>$300</b> and
      the shares of <b>Tesla</b> are trading at <b>$900</b>. Which company do
      you think is worth more?
    </p>
    <!-- <div class="flex flex-col pt-8">
      <div>
        <input type="checkbox" class="outline-none w-8"/><label>Microsoft</label>
      </div>
      <div>
        <input type="checkbox"/><label>Tesla</label>
      </div>
    </div> -->
    <p class="pt-8">
      <b>Answer:</b> Without any further information, you wouldn't know. You
      might've guessed <b>Tesla</b>; however, what you are seeing is the price
      of a <b>single</b> share. You don't know the total amount of shares that
      exist for each of those companies.
    </p>
    <p class="pt-8">
      What we're trying to calculate is the market capitalization of both
      companies. The calculation is simple, you just multiply the share price
      with the total amount of share for that company.
    </p>
    <p class="pt-8">
      <b>Example:</b> Microsoft has approximately a total amount of
      <b>7,500,000,000</b> outstanding shares as of 2022. Now imagine that each
      share costs <b>$300</b>. To calculate the market capitalization of
      Microsoft (total worth of the company), then you do:
    </p>
    <p class="pt-8 text-lg">
      <b>7,500,000,000</b> x <b>$300</b> = <b>$2.25 Billion</b>
    </p>
    <p class="pt-8">
      Let's do the same for Tesla. They have approximately a total amount of
      <b>1,000,000,000</b> outstanding shares as of 2022. The market
      capitalization of <b>Tesla</b> would be:
    </p>
    <p class="pt-8 text-lg">
      <b>1,000,000,000</b> x <b>$900</b> = <b>$900 Million</b>
    </p>
    <p class="pt-8">
      As you see, even if the single stock price of <b>Tesla</b> is higher than
      the one of <b>Microsoft</b>, it doesn't mean that the company is worth
      more. If you need a visualization of this, then enter the
      <b>stock price</b> and the amount of <b>outstanding shares</b> in the
      graph below.
    </p>
    <hr class="w-full h-1 bg-white mt-16 block md:hidden" />
  </div>
</div>
<div
  class="bg-indigo-400 p-12 text-white"
  *ngIf="id === '3'"
>
  <div>
    <h2 class="font-bold text-xl">3. How do I trade?</h2>
    <p class="pt-8">
      If you just want to trade stocks right now, then you need a
      <b>brokerage</b> account. Well, how do you get one? It's simple, just
      google something like "Most popular broker in the US". If you do not live
      in the US, then just simply replace it with your country.
    </p>
    <p class="pt-8">
      <b>Important:</b> You need to evaluate the best broker for yourself. Do
      not just blindly open an account on the first result, you also need to
      compare fees, security, whether a bank license exists... After all, it's a
      company you're trusting your money and stocks with for a long time.
    </p>
    <p class="pt-8">
      Once you have a brokerage account, you have to deposit money. This might
      take some time. Once your money has been successfully deposited, you can
      start to trade. Well... maybe? It depends whether the stock market in your
      country is <b>open</b> or <b>closed</b>. Generally speaking,
      <b>exchanges</b> (a place where you can trade stocks) are
      <b>closed</b> during weekends and on public holidays. Also, exchanges are
      open for a limited time during weekdays.
    </p>
    <p class="pt-8">
      <b>Example:</b> The <b>New York Stock Exchange</b> is open from
      <b>9:30a.m.</b> to <b>4:00p.m.</b> ET. during weekdays.
    </p>
  </div>
</div>
<div
  class="bg-green-400 p-12 text-white"
  *ngIf="id === '4'"
>
  <div>
    <h2 class="font-bold text-xl">
      4. How does an exchange work?
    </h2>
    <p class="pt-8">
      An exchange works by bringing buyers and sellers together, acting as a middleman. 
    </p>
  </div>
</div>
