<div
  class="grid grid-cols-1 md:grid-cols-2 bg-indigo-400 p-12 lg:pr-48 lg:pl-48 text-white"
>
  <div>
    <h2 class="font-bold text-4xl lg:text-7xl">1. What is a stock?</h2>
    <p class="pt-8">
      A stock is a <b>piece of a company</b>. If you own a stock, then you
      <b>own</b> a piece of that company. The more stocks you buy, the larger
      the <b>percentage</b> is your ownage of that company.
    </p>
    <p class="pt-8">
      <b>Example:</b> Let's say for a company called "<b>XYZ</b>" there exist a
      total of 100 stocks. If you own 7 stocks, then you own a total of
      <b>7%</b> of company XYZ.
    </p>
    <p class="pt-8">
      Let's visualize this with <b>money</b>. Take the example above and assume
      that each stock is worth <b>$50</b>. How much would be your total net
      worth of the 7 shares you own?
    </p>
    <p class="pt-8 font-bold text-4xl">$350.</p>
    <p class="pt-8">
      I don't think that I need to explain the math behind here. However, I've
      designed a pie chart that you can play with. Just enter the number of
      stocks, and you will see the <b>total percentage</b> of company XYZ you
      own as well as the <b>total worth</b> of your stocks.
    </p>
  </div>
</div>
