<div class="bg-green-400 p-6 text-white">
  <div class="grid grid-cols-1 gap:6">
    <div>
      <h3 class="font-bold text-xl pt-4">Fundamentals</h3>
      <ol class="flex flex-col pt-4 gap-2">
        <li>
          <comp-card>1. What is a stock?</comp-card>
        </li>
        <li>
          <comp-card>2. Market Capitalization</comp-card>
        </li>
        <li>
          <comp-card>3. How do I trade?</comp-card>
        </li>
        <li>
          <comp-card>Examples</comp-card>
        </li>
      </ol>
    </div>
    <div>
      <h3 class="font-bold text-xl pt-4">Intermediate</h3>
      <ol class="flex flex-col pt-4 gap-2">
        <li>
          <comp-card>4. How does the stock market work?</comp-card>
        </li>
        <li>
          <comp-card>5. How much should I invest?</comp-card>
        </li>
        <li>
          <comp-card>6. What stocks should I buy?</comp-card>
        </li>
        <li>
          <comp-card>Examples</comp-card>
        </li>
      </ol>
    </div>
    <div>
      <h3 class="font-bold text-xl pt-4">Advanced</h3>
      <ol class="flex flex-col pt-4 gap-2">
        <li>
          <comp-card>7. Expected returns</comp-card>
        </li>
        <li>
          <comp-card>8. Exchange Traded Funds (ETFs)</comp-card>
        </li>
        <li>
          <comp-card>9. Your optimal portfolio</comp-card>
        </li>
        <li>
          <comp-card>Examples</comp-card>
        </li>
      </ol>
    </div>
  </div>
</div>
