<div class="bg-green-400 p-6 text-white">
  <div class="grid grid-cols-1 gap:6">
    <div>
      <h3 class="font-bold text-xl pt-4">Fundamentals</h3>
      <ol class="flex flex-col pt-4 gap-2">
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '1' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="1">1. What is a stock?</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '2' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="2">2. Market Capitalization</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '3' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="3">3. How do I trade?</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '3' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="3">Examples</comp-card>
        </li>
      </ol>
    </div>
    <div>
      <h3 class="font-bold text-xl pt-4">Intermediate</h3>
      <ol class="flex flex-col pt-4 gap-2">
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '4' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="4">4. How does the stock market work?</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '5' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="5">5. How much should I invest?</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '6' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="6">6. What stocks should I buy?</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '6' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="6">Examples</comp-card>
        </li>
      </ol>
    </div>
    <div>
      <h3 class="font-bold text-xl pt-4">Advanced</h3>
      <ol class="flex flex-col pt-4 gap-2">
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '7' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="7">7. Expected returns</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '8' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="8">8. Exchange Traded Funds (ETFs)</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '9' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="9">9. Your optimal portfolio</comp-card>
        </li>
        <li class="bg-white pt-1 pb-1" [ngClass]="id == '9' ? 'opacity-100' : 'opacity-70'">
          <comp-card id="9">Examples</comp-card>
        </li>
      </ol>
    </div>
  </div>
</div>
