<div
  class="bg-green-400 p-12 lg:pr-48 lg:pl-48 min-h-[calc(max(500px,_100vh))] text-white"
>
  <h2 class="font-bold text-4xl lg:text-7xl">What you'll learn</h2>
  <h3 class="font-bold text-3xl lg:text-5xl pt-12">Fundamentals</h3>
  <ol class="flex flex-col pt-8 gap-4">
    <li>
        <comp-card>1. What is a stock?</comp-card>
    </li>
    <li>
        <comp-card>2. Market Capitalization</comp-card>
    </li>
    <li>
        <comp-card>3. How do I trade?</comp-card>
    </li>
    <li>
        <comp-card>Examples</comp-card>
    </li>
  </ol>
  <hr class="w-full h-1 bg-white mt-8">
  <h3 class="font-bold text-3xl lg:text-5xl pt-12">Advanced</h3>
  <ol class="flex flex-col pt-8 gap-4">
    <li>
        <comp-card>4. How does the stock market work?</comp-card>
    </li>
    <li>
        <comp-card>5. How much should I invest?</comp-card>
    </li>
    <li>
        <comp-card>6. What stocks should I buy?</comp-card>
    </li>
    <li>
        <comp-card>Examples</comp-card>
    </li>
  </ol>
  <hr class="w-full h-1 bg-white mt-8">
</div>
