<div
  class="p-5 lg:p-6 grid grid-cols-12 justify-between items-end bg-white hover:bg-zinc-50 transition-colors duration-300 cursor-pointer"
>
  <div class="col-span-4">
    <h3 class="font-bold text-lg md:text-xl">{{ market.ticker }}</h3>
    <h4 class="text-zinc-700 text-sm lg:text-base">{{ market.ticker }}</h4>
  </div>
  <span class="col-span-2 font-semibold text-zinc-400">{{ market.bp | Dollar }}</span>
  <span class="col-span-2 ml-4 text-zinc-400 font-bold">{{ market.ap | Dollar }}</span>
  <button class="col-span-4 ml-12 font-bold pl-3 pr-3 pt-1 pb-1 bg-green-400 text-white">
    Buy
  </button>
</div>
