<comp-navbar class="dark"></comp-navbar>
<comp-wrapper>
  <div class="flex flex-col gap-4 md:cshadow md:p-8">
    <h1 class="text-4xl pb-2 xl:text-3xl font-bold">Accessibility statement for Stockify</h1>
    <p>
      We want everyone who visits the Stockify website to feel welcome and find
      the experience rewarding.
    </p>
    <h2 class="mt-4 font-bold">What are we doing?</h2>
    <p>
      To help us make the Stockify website a positive place for everyone, we've
      been using the
      <a href="http://www.w3.org/TR/WCAG/" class="text-blue-600"
        >Web Content Accessibility Guidelines (WCAG) 2.1</a
      >. These guidelines explain how to make web content more accessible for
      people with disabilities, and user friendly for everyone.
    </p>
    <p>
      The guidelines have three levels of accessibility (A, AA and AAA). We've
      chosen Level A as the target for the Stockify website.
    </p>
  </div>
</comp-wrapper>
