<div
  class="flex flex-col lg:flex-row pl-12 gap-8 lg:gap-0 lg:pr-48 lg:pl-48 lg:justify-between h-[calc(max(500px,_100vh))]"
>
  <div class="flex flex-col gap-4 relative pt-28 lg:pt-0 lg:top-[25%] pb-8">
    <h1 class="font-bold text-4xl pb-2 lg:text-7xl text-zinc-800">
      Learn Investing
    </h1>
    <h1 class="font-bold text-4xl pb-2 lg:text-7xl text-zinc-800">For Free</h1>
    <h1 class="font-bold text-4xl pb-2 lg:text-7xl text-zinc-800">Now</h1>
    <div class="pt-14">
      <button
        href="#"
        class="bg-blue-500 p-2 pl-3 pr-5 text-white text-lg font-semibold"
      >
        <fa-icon class="pr-4" [icon]="faArrowDown"></fa-icon>
        <span>Get Started</span>
      </button>
    </div>
    <div>
      <button
        href="#"
        class="bg-green-500 p-2 pl-3 pr-5 text-white text-lg font-semibold"
      >
        <fa-icon class="pr-4" [icon]="faUser"></fa-icon>
        <span>Sign Up</span>
      </button>
    </div>
  </div>
  <div class="relative lg:top-[25%]">
    <img src="../../../assets/stock-test.svg" class="w-[180px] lg:w-[600px]" />
  </div>
</div>
