<div
  class="grid grid-cols-1 xl:grid-cols-2 pl-12 pr-12 xl:gap-24 xl:pr-48 xl:pl-48 xl:justify-between min-h-[calc(max(500px,_100vh))]"
>
  <div class="flex flex-col gap-4 mb-12 xl:pt-0 mt-32 xl:mt-48 pb-8">
    <h1 class="font-bold text-4xl pb-2 xl:text-7xl text-black">
      Learn Investing For Free In A Simple Way
    </h1>
    <div class="pt-8 text-sm sm:text-xl text-zinc-900">
      <p>
        Have you ever wanted to know how to <b>invest</b>, but never had the
        time to actually learn it? This website aims to teach you the
        fundamentals of investing <b>without</b> any intention to profit off of
        you. No books with over 100 pages, no paid courses, no ads. Just going
        straight to the <b>point</b>.
      </p>
    </div>
    <div class="flex flex-col md:flex-row gap-6 md:gap-8 mt-10 md:mt-14">
      <a
        href="#"
        class="bg-white p-3 pl-6 pr-6 text-blue-600 cshadow border border-zinc-100 w-min whitespace-nowrap"
      >
        <span class="font-semibold">Start Learning</span>
      </a>
      <a
        [routerLink]="'/signup'"
        class="bg-white p-3 pl-6 pr-6 text-green-500 cshadow border border-zinc-100 w-min whitespace-nowrap"
      >
        <span class="font-semibold">Sign Up</span>
      </a>
    </div>
  </div>
  <div class="relative xl:top-[25%] hidden xl:block">
    <img src="../../../assets/stock-test.svg" class="w-[180px] xl:w-[600px]" />
  </div>
</div>
