<comp-navbar class="dark"></comp-navbar>
<comp-wrapper>
  <div class="flex flex-col gap-3 cshadow p-6">
    <h2 class="font-bold text-4xl pb-2 xl:text-3xl text-black">Imprint</h2>
    <ul class="mt-4 flex flex-col">
      <li>Arber Iseni</li>
      <li>Oberbilker Allee 332</li>
      <li>40227, Düsseldorf</li>
      <li>Germany</li>
    </ul>
    <div class="block">
      <span>E-Mail:</span>
      <a href="mailto:arberiseni1999@gmail.com" class="ml-2 text-blue-600">arberiseni1999@gmail.com</a>
    </div>
  </div>
</comp-wrapper>
