<comp-navbar class="dark"></comp-navbar>
<div
  class="flex flex-col pl-12 pr-12 min-h-[calc(max(500px,_100vh))] items-center"
>
  <div
    class="flex flex-col gap-4 pb-8 mb-12 mt-32 pl-8 pr-8 xl:pt-0 xl:mt-48 w-[calc(min(1200px,_100vw))]"
  >
    <h1 class="font-bold text-4xl pb-2 xl:text-5xl text-black">
      Your portfolio
    </h1>
    <div class="mt-4 lg:mt-8 flex flex-row items-center">
      <div class="flex flex-row items-end">
        <span class="text-zinc-900 font-bold text-3xl lg:text-4xl">{{
          networth | Dollar
        }}</span>
        <span class="pl-2 mb-1 text-md text-green-500 font-bold"
          >(+10.04%)</span
        >
      </div>
    </div>
    <div>
      <span class="text-white bg-indigo-400 p-1 pl-3 pr-3 font-bold text-lg"
        >Cash: {{ cash | Dollar }}</span
      >
    </div>
    <div class="grid grid-cols-12 lg:gap-12">
      <ul
        class="mt-8 cshadow col-span-12 lg:col-span-8 h-min"
        *ngIf="stocks.length > 0; else nostocks"
      >
        <li *ngFor="let stock of stocks">
          <comp-card-stock
            [company]="stock['ticker']"
            [ticker]="stock['ticker']"
            [price]="stock['bp']"
            [amount]="stock['amount']"
            [total]="stock['total']"
            (click)="setTrade(stock)"
          ></comp-card-stock>
        </li>
      </ul>
      <comp-history [history]="history" class="col-span-12 lg:col-span-4"></comp-history>
    </div>
  </div>
</div>

<comp-stock-popup
  *ngIf="isTrade"
  (trade)="disableTrade()"
  [stock]="trade"
></comp-stock-popup>

<ng-template #nostocks>
  <ul class="mt-8 cshadow col-span-12 lg:col-span-8">
    <li>
      <span>No stocks</span>
    </li>
  </ul>
</ng-template>
