<comp-navbar class="dark"></comp-navbar>
<div
  class="flex flex-col pl-12 pr-12 xl:pr-48 xl:pl-48 min-h-[calc(max(500px,_100vh))]"
>
  <div class="flex flex-col gap-4 mb-12 xl:pt-0 mt-32 xl:mt-48 pb-8">
    <h1 class="font-bold text-4xl pb-2 xl:text-7xl text-black">
      Your portfolio
    </h1>
    <div class="mt-8 flex flex-row items-center">
      <div class="flex flex-row items-end">
        <span class="text-zinc-900 font-bold text-4xl">{{ networth | Dollar }}</span>
        <span class="pl-2 mb-1 text-md text-green-500 font-bold"
          >(+10.04%)</span
        >
      </div>
      <span
        class="ml-8 text-white bg-green-500 rounded-full p-1 pl-3 pr-3 font-bold text-lg"
        >Cash: {{ cash | Dollar }}</span
      >
    </div>
    <div class="mt-8 block">
      <a [routerLink]="'/market'">
        <button class="font-bold pl-3 pr-3 pt-1 pb-1 bg-green-400 text-white">
          Buy Stocks
        </button>
      </a>
      <button
        [routerLink]="'/markets'"
        class="ml-8 font-bold pl-3 pr-3 pt-1 pb-1 bg-red-400 text-white"
      >
        Sell Stocks
      </button>
    </div>
    <ul
      class="mt-8 grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-12"
      *ngIf="stocks.length > 0; else nostocks"
    >
      <li *ngFor="let stock of stocks">
        <comp-card-stock
          [company]="stock['ticker']"
          [ticker]="stock['ticker']"
          [price]="stock['price']"
          [amount]="stock['amount']"
          [total]="stock['total']"
        ></comp-card-stock>
      </li>
    </ul>
  </div>
</div>

<ng-template #nostocks>
  <ul class="mt-8 grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-12">
    <li>
      <span>No stocks</span>
    </li>
  </ul>
</ng-template>
