<comp-navbar class="dark"></comp-navbar>
<comp-wrapper>
  <div class="flex flex-col gap-3 cshadow p-6">
    <h2 class="font-bold text-4xl pb-2 xl:text-3xl text-black">
      Your portfolio
    </h2>
    <div class="mt-4 flex flex-row items-center">
      <div class="flex flex-row items-end">
        <span class="text-zinc-900 font-bold text-2xl lg:text-2xl">{{
          networth + cash | Dollar
        }}</span>
        <span
          class="pl-2 mb-[5px] text-sm text-green-500 font-bold"
          [ngClass]="percentage >= 0 ? 'text-green-500' : 'text-red-500'"
          >({{ percentage | Percent }})</span
        >
      </div>
    </div>
    <div>
      <span class="text-white bg-green-400 p-1 pl-3 pr-3 font-semibold text-sm" *ngIf="accountLoaded"
        >Cash: {{ cash | Dollar }}</span
      >
      <span class="text-white bg-green-400 p-1 pl-3 pr-3 font-semibold text-sm" *ngIf="!accountLoaded"
      >Cash: Loading...</span
    >
    </div>
  </div>
  <div class="grid grid-cols-12 lg:gap-12">
    <div class="col-span-12 lg:col-span-8">
      <div class="mt-8 cshadow">
        <comp-chart></comp-chart>
      </div>
      <ul class="mt-8 cshadow h-min" *ngIf="stocks; else nostocks">
        <li *ngFor="let stock of stocks">
          <comp-card-stock
            [ticker]="stock['ticker']"
            [price]="stock['bp']"
            [amount]="stock['amount']"
            [total]="stock['total']"
            [stock]="stock"
          ></comp-card-stock>
        </li>
        <li>
          <a
            class="p-5 lg:p-6 h-28 flex flex-row justify-between items-center bg-white hover:bg-zinc-50 transition-colors duration-300 cursor-pointer relative group"
            [routerLink]="'/market'"
          >
            <h3 class="text-lg md:text-lg text-zinc-400 hidden md:block">
              Buy Stocks
            </h3>
            <div
              class="flex w-16 h-16 bg-blue-500 group-hover:bg-blue-600 transition-colors duration-300 rounded-full items-center justify-center absolute left-0 right-0 ml-auto mr-auto"
            >
              <fa-icon [icon]="faPlus" class="text-white text-3xl"></fa-icon>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-8 mt-8 col-span-12 lg:col-span-4">
      <comp-history></comp-history>
      <comp-explore></comp-explore>
    </div>
  </div>
</comp-wrapper>

<ng-template #nostocks>
  <ul class="mt-8 cshadow col-span-12 lg:col-span-8">
    <li>
      <span>No stocks</span>
    </li>
  </ul>
</ng-template>
