<div
  class="p-5 lg:pl-6 lg:pr-6 lg:pt-4 lg:pb-4 flex flex-col md:flex-row justify-between items-center md:items-start shadowf overflow-hidden"
>
  <div class="mt-2 md:mt-6">
    <span class="text-sm font-bold">Chart </span>
    <comp-stock-chart
      [ticker]="stock.ticker"
      [lastPrice]="stock.bp"
    ></comp-stock-chart>
  </div>
  <div class="bg-white p-8">
    <div class="flex flex-row">
      <button
        class="font-bold text-sm pl-3 w-20 pr-3 pt-1 pb-1 border-b-4"
        [ngClass]="
          mode == 'sell' ? 'border-black' : 'text-zinc-500 border-zinc-300'
        "
        (click)="setMode('sell')"
      >
        Sell
      </button>
      <button
        class="font-bold text-sm ml-8 pl-3 w-20 pr-3 pt-1 pb-1 border-b-4"
        [ngClass]="
          mode == 'buy' ? 'border-black' : 'text-zinc-500 border-zinc-300'
        "
        (click)="setMode('buy')"
      >
        Buy
      </button>
    </div>
    <div class="mt-6 flex flex-col gap-6">
      <div class="flex flex-row w-full justify-between items-center">
        <span class="text-sm w-zinc-600">Amount</span>
        <input
          class="w-20 p-2 text-sm text-right text-zinc-600 bg-zinc-100 rounded-sm outline-none"
          placeholder="0"
          type="text"
          [(ngModel)]="amount"
          maxlength="6"
        />
      </div>
      <div class="flex flex-row w-full justify-between items-center">
        <span class="text-sm w-zinc-600">{{ stock.ticker }}</span>
        <span class="text-sm w-zinc-600 font-bold" *ngIf="mode === 'sell'">{{
          stock.bp | Dollar
        }}</span>
        <span class="text-sm w-zinc-600 font-bold" *ngIf="mode === 'buy'">{{
          stock.ap | Dollar
        }}</span>
      </div>
      <div class="flex flex-row w-full justify-between items-center">
        <span class="text-sm w-zinc-600">Total</span>
        <span class="text-sm w-zinc-600 font-bold" *ngIf="mode === 'sell'">{{
          stock.bp * amount | Dollar
        }}</span>
        <span class="text-sm w-zinc-600 font-bold" *ngIf="mode === 'buy'">{{
          stock.ap * amount | Dollar
        }}</span>
      </div>
      <div *ngIf="status" class="flex flex-col">
        <button
          *ngIf="mode === 'buy'"
          class="mt-4 bg-green-400 text-sm text-white font-bold p-2"
          [ngClass]="spread ? 'bg-orange-400' : 'bg-green-400' "
          (click)="buyStock(stock.ticker, amount)"
        >
          Buy
        </button>
        <button
          *ngIf="mode === 'sell'"
          class="mt-4 bg-red-400 text-sm text-white font-bold p-2"
          (click)="sellStock(stock.ticker, amount)"
        >
          Sell
        </button>
        <span class="text-center text-orange-600 text-xs mt-1" *ngIf="spread"
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon> Bid/Ask spread is {{ ((this.stock.ap - this.stock.bp) / this.stock.ap) * 100 | Percent }}</span
      >
      </div>
      <div disabled *ngIf="!status" class="flex flex-col">
        <button
          *ngIf="mode === 'buy'"
          class="mt-4 bg-green-200 text-sm text-white font-bold p-2 cursor-not-allowed"
        >
          Buy
        </button>
        <button
          disabled
          *ngIf="mode === 'sell'"
          class="mt-4 bg-red-200 text-sm text-white font-bold p-2 cursor-not-allowed"
        >
          Sell
        </button>
        <span class="text-center text-red-600 text-xs mt-1"
          >The market is closed</span
        >
      </div>
    </div>
  </div>
</div>
