<div
  class="lg:cshadow pt-6 pb-6 pl-0 pr-0 lg:pl-6 lg:pr-6 flex flex-row justify-between items-end"
>
  <div>
    <h3 class="font-bold text-2xl">{{ company }}</h3>
    <h4 class="text-zinc-700">{{ ticker }}</h4>
  </div>
  <div class="flex flex-col items-end">
    <div class="block">
      <span class="font-semibold text-zinc-400">{{ price | Dollar }}</span>
      <span class="ml-4 text-zinc-400 font-bold">{{ amount }}x</span>
    </div>
    <span class="font-bold text-zinc-700">{{ total | Dollar }}</span>
  </div>
</div>
